<div id="header">
  <h1> <%= @doc.title %> </h1>
</div>
<div class="container">
  <div id="content">
    <p> <%= simple_format @doc.content %> </p>
  </div>
  <div id="live-content">
    <%= simple_form_for @doc do |f| %>
      <%= f.input :title %>
      <%= f.input :content %>
      <%= f.button :submit %>
      <%= link_to "Delete", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-show" %>
    <% end %>
  </div>
  <div id="show-sidebar">
    <div id="sidebar">
      <h1 id=>Your NeverNote Collection</h1>
      <div id="show-titles">
        <h2><% @docs.each do |doc| %></h2>
        <p><%= link_to doc.title, doc %></p>
          <% end %>
      </div>
    </div>
  </div>
</div>
